<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="login-page">
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
        	<img src="images/flat-avatar.png" class="user-avatar" />
			<h1>Archive Services <br><small>Moteur de recherche</small></h1>
            <form>
                <div style="padding: 10px">
                    <search-option  ng-show = "response.mapped.length >0" ng-repeat="option in searchOptions"></search-option>
                </div>
                <button ng-click="search()" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Rechercher</button>
            </form>
            <h4 ng-show="inProcessing">In processing...</h4>
            <div class="progress" ng-show="inProcessing">
                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                </div>
            </div>
		</div>
	</div>
    <div class="col-md-10" style="padding-top: 30px; text-align: left">
        <!--Body content-->
        <h3 ng-show="searchResult.publications.length > 0">Resultats: {{searchResult.nbPublications}}</h3>
        <div class="media" ng-repeat="doc in searchResult.publications">
            <div class="media-left">
                <a ng-href="{{doc.uri[0]}}">
                    <img  class="media-object" src="../images/flat-avatar.png" alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{doc.source}}-{{doc.id}}: {{doc.title}}</h4>
                <p>Author : {{doc.author}}</p>
                <p>Summary : {{doc.abstract[0]}}</p>
            </div>
        </div>

    </div>
</div>
<script>
    $('.selectpicker').selectpicker({
        style: 'btn-info',
        size: 4
    });

</script>
