<div>
	<!--a ui-sref="reports" class="pull-right btn btn-primary btn-outline btn-rounded">Reports</a-->
	<h4 ng-show="inProcessing">In processing...</h4>
	<div class="progress" ng-show="inProcessing">
		<div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
		</div>
	</div>
	<button ng-click="save()" class="pull-right btn btn-warning">Sauvegarder</button>
	<button ng-click="isCollapsed = !isCollapsed" class="pull-right btn btn-info">Afficher moteur</button>
	<h2>Résultats de recherche...</h2>
	<div uib-collapse="isCollapsed">
		<div class="well well-lg" style="background: #3ca2e0">
			<search-option  ng-show = "response.mapped.length >0" ng-repeat="option in searchOptions"></search-option>
			<button ng-click="search()" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Rechercher</button>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h3 ng-show="searchResult.publications.length > 0">Resultats: {{searchResult.nbPublications}}</h3>
	        <div class="media" ng-repeat="doc in searchResult.publications">

	        	<input type="checkbox" ng-click="onClickCheck($event, doc.id[0])">
	            <div class="media-left">
	                <a ng-href="{{doc.uri[0]}}">
	                    <img  class="media-object" src="../images/flat-avatar.png" alt="...">
	                </a>
	            </div>
	            <div class="media-body">
	                <h4 class="media-heading">{{doc.source}}-{{doc.id}}: {{doc.title}}</h4>
	                <p>Author : {{doc.author}}</p>
	                <p>Summary : {{doc.abstract[0]}}</p>
	            </div>
	        </div>
		</div>
	</div>
</div>