<div>
	<a ui-sref="overview" class="pull-right btn btn-primary btn-outline btn-rounded">Back to Overview</a>
	<h2>Recherche en base locale<small>Archive Services</small></h2>
	<span class="glyphicon glyphicon-dashboard bg-fade"></span>
	<button ng-click="isCollapsed = !isCollapsed" class="pull-right btn btn-info">Afficher le moteur</button>
	<div uib-collapse="isCollapsed">
		<div class="well well-lg" style="background: #3ca2e0">
			<search-option  ng-show = "response.mapped.length >0" ng-repeat="option in searchOptions"></search-option>
			<button ng-click="searchIntoHistory()" type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Rechercher en local</button>
		</div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<div class="media" ng-repeat="doc in histories">
	            <div class="media-left">
	                <a ng-href="{{doc.uri[0]}}">
	                    <img  class="media-object" src="../images/flat-avatar.png" alt="...">
	                </a>
	            </div>
	            <div class="media-body">
	                <h4 class="media-heading">{{doc.source}}-{{doc.id}}: {{doc.title}}</h4>
	                <p>Author : {{doc.author}}</p>
	                <p>Summary : {{doc.abstract[0]}}</p>
	            </div>
	        </div>
		</div>
	</div>
</div>