	<div class="form-group form-inline" style="padding: 0px">
		<!-- Checkbox to select sources -->
		<div> 
	    	<input type="checkbox" ng-click="onSourceCheck($event, 'hal')" checked="checked"> HAL
	    	<input type="checkbox" ng-click="onSourceCheck($event, 'arxiv')" checked="checked"> ArXiv
	    </div>
	    <div>
	        <input style="width: 400px" ng-model="option.searchtext" type="text" class="form-control" id="" placeholder="Saisir les mots clés...">
	        <select class="btn btn-primary btn-small" ng-model="option.option">
	            <option ng-repeat="param in response.mapped" value="{{param.request}}">{{param.view_fr}}</option>

	            <!-- Specific HAL options -->
	           	<option ng-show="sources.includes('hal') && response.hal.length>0" value="">- - - - HAL - - - -</option>
	           	<option ng-show="sources.includes('hal') && response.hal.length>0" ng-repeat="param in response.hal" value="{{param.request}}">{{param.view_fr}}</option>

	           	<!-- Specific ArXiv options -->
	           	<option ng-show="sources.includes('arxiv') && response.arxiv.length>0" value="">- - - - ArXiv - - -</option>
	           	<option ng-show="sources.includes('arxiv') && response.arxiv.length>0" ng-repeat="param in response.arxiv" value="{{param.request}}">{{param.view_fr}}</option> 	
	        </select>
	        <button ng-click="removeOption($index)" class="btn btn-white btn-outline btn-small btn-rounded glyphicon glyphicon-remove"></button>
	        <button ng-click="addOption()" class="btn btn-white btn-outline btn-small btn-rounded glyphicon glyphicon-plus"></button>
	    </div>
    </div>
